<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="app.js"></script>
    <title>Game</title>
</head>

<body onload="setUp()">

        <button id = "connect">Connect!</button>
        <button id = "start">Start!</button>
        <button id = "nextTurn">Finish Turn!</button>
        <div class = "discard">
            <p>Discard Pile</p>
            <img src="/images/shield_8.png" class="card">
            <div class = "pile" id="pile">
                <!-- testers
                <img src="/images/enemy_mordred.png" class="card">
                <img src="/images/enemy_mordred.png" class="card">
                <img src="/images/enemy_mordred.png" class="card">
                <img src="/images/enemy_mordred.png" class="card">
                -->
            </div>

        </div>
        <div class = "playArea"></div>
        <div class = "hand" id="hand">
            <!-- testers
            <img src="/images/enemy_saxons.png" class="pc card" id="pc1">
            <img src="/images/enemy_mordred.png" class="pc card" id="pc2">
            <img src="/images/enemy_green.png" class="pc card" id="pc3">
            -->
        </div>

</body>
</html>