<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="app.js"></script>
    <title>Game</title>
</head>

<body onload="setUp()">

        <button id = "connect">Connect!</button>
        <button id = "start">Start!</button>
        <button id = "nextTurn" class="turn">Finish Turn!</button>

        <div class="yeno">
           <button id = "yes">Yes!</button>
           <button id = "no">No!</button>
       </div>

        <div class = "discard">
            <p>Discard Pile</p>
            <img src="/images/shield_8.png" class="card">
            <div class = "pile" id="pile">

            </div>

        </div>

        <div class = "playArea"></div>
        <div class = "hand" id="hand"></div>

</body>
</html>