<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="app.js"></script>
    <title>Game</title>
</head>

<body onload="setUp()">

        <button id = "connect">Connect!</button>
        <button id = "start">Start!</button>
        <button id = "nextTurn">Finish Turn!</button>
        <div class = "discard">
            <p>discard pile</p>
        </div>
        <div class = "playArea">
            <p>play a card</p>
        </div>
        <div class = "hand" >
            <p>hand</p>
        </div>

</body>
</html>