.turn{
    top: 65%;
    left: 60%;
    position: absolute;
}

.yeno{
    top:65%;
    left:55%;
    position:absolute;
    text-align: center;
}

.storyArea{
    top: 30%;
    left:5%;
    position: absolute;
    text-align: center;
}

.leaderboard{
    top: 30%;
    left:85%;
    position: absolute;
    text-align: center;
}

.discard{
    top: 5%;
    left:85%;
    position: absolute;
    text-align: center;
}
.card{
    width: 5vw;
}

.pile{
      display: none;
      position:absolute;
       overflow:auto;
}

.discard:hover .pile {
  display: block;
}

.playArea{
    position: absolute;
    top: 30%;
    left: 50%;
    margin:auto;
    text-align: center;
}

.pa{
width: 10vw;
}

.hand{
    width: 100%;
    top: 80%;
    margin:auto;
    position: absolute;
    text-align: center;
}

table,th{
    border:1px solid black;
}